/* body {
    padding: 100px;
    display: inline-block;
    justify-content: center;
} */

/* .container {
    display: inline-block;
    padding: 80px;
    justify-content: center;
    align-items: center;
} */

#registerForm {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 200px 0px 10px 750px;
    padding: 10px;
    border: 1px solid teal;
    box-shadow: 60px -16px teal;
}