body {
  background-color: red;
}


.navbar-nav{
  text-size-adjust: 100px;
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 100px;
  margin-top: 200px;
  margin-left: 350px;
  width: 30%;
  border: 2px solid black;
  border-radius: 25px;
  background-color: rgb(31, 107, 247);
  color: white;
  box-shadow: 60px -56px yellow, 120px -112px red;

}

.newGame {
  padding: 10px;
  margin-top: 30px;
  border-radius: 25px;
}

/* #parent {
  display: flex;
} */


#timer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 10%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}

#createNew {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: auto;
  margin-top: 200px;
  border-radius: 25px;
  background-color: rgb(107, 144, 212);
}

#displayQuestion {
margin: 0 auto;
padding: 30px;
/* border: 2px solid rgb(15, 219, 8); */
font-size: 23px;
}

.answer {
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
  width: 40%;
  border-radius: 30px;
  
}

#answers {
  display: flex;
flex-direction: column;
padding: 10px;
margin: 10px;
/* border: 2px solid blue; */
}

.answer:hover {
  background-color: rgb(255, 255, 255);

}

.correct:focus {     
  background-color:rgb(134, 241, 134);    
}

.incorrect:active {     
  background-color:rgb(235, 104, 134);    
}

#saveGame {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
