@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');




.gameBody {
  background-image: url("cork-board.png");
}
.navbar {
  background-color: black;
}

.welcomeMessage {
  position: relative;
  background-color: none;
  color: black;
  margin-top: 2%;
  font-size: 3vh;
  text-align: center;
}

#loginForm {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 15% 0% 15% 45%;
  padding: 10px;
  color: black;
  border: 2px solid orange;
  box-shadow: 60px -16px orange;
}


#registerForm {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 15% 0% 15% 45%;
  padding: 10px;
  color: black;
  border: 2px solid #fdfde3;
  box-shadow: 60px -16px #fdfde3;
}

.trivia {
  /* background-image: url("triviaIMG.jpg"); */
  background-size: cover;
  height: 100vh;
  background-position: center;
}

#registerForm {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 200px 0px 10px 750px;
  padding: 10px;
  border: 1px solid teal;
  box-shadow: 60px -16px teal;
}


.container {
  height:80%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.center {
  margin: .5vw;
  display: flex;
  justify-content: center;
}

.navbar-nav{
  text-size-adjust: 100px;
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  width: 30%;
  /* border: 2px solid black; */
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 60px -26px rgba(214, 119, 119, 0.733), 120px -52px rgba(240, 168, 73, 0.733), -60px -26px rgba(191, 220, 48, 0.733), -120px -52px rgb(223, 219, 31, 0.733), -60px 26px rgba(51, 219, 191, 0.733), -120px 52px rgba(38, 137, 218, 0.733), 60px 26px rgba(170, 46, 219, 0.733), 120px 52px rgb(218, 52, 190, 0.733);
}

.filterParams {
  display: flex;
  flex-direction: column;
  /* padding: 100px; */
  margin: 0 auto;
  margin-top: 50px;
  width: 60%;
  height: 30%;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  color: black;
  /* box-shadow: 60px -26px rgba(214, 119, 119, 0.733), 120px -52px rgba(240, 168, 73, 0.733), -60px -26px rgba(191, 220, 48, 0.733), -120px -52px rgb(223, 219, 31, 0.733), -60px 26px rgba(51, 219, 191, 0.733), -120px 52px rgba(38, 137, 218, 0.733), 60px 26px rgba(170, 46, 219, 0.733), 120px 52px rgb(218, 52, 190, 0.733); */
}

#categories, #difficulty, .leaderboardGame, .newGame {
  border-radius: 15px;
}

.pin {
  width: 50px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  margin: -29px 0px 0px -23px;
  background-color: red ;
}

.needle {
  width: 6px;
  height: 22px;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-top-right-radius: 100%;
  margin: 0px 0px 0px 340px;
  background-color: rgb(117, 116, 116) ;
}

.needle {
  width: 6px;
  height: 22px;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-top-right-radius: 100%;
  margin: 0px 0px 0px 340px;
  background-color: rgb(117, 116, 116) ;
}


#createNew {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 37%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 4px;
  background-color: #fffafa;
  box-shadow: -1px 0px red, -56px -0px #fffafa, -60px 6px 30px black, 0px 12px 30px black;
}


#timer {
  display: flex;
  justify-content: center;
  margin: 0px 0px -15px 0px;
  width: 10%;
  border-bottom-left-radius: -10px;
  border-bottom-right-radius: -10px;
  background-color: rgb(243, 246, 21);
}


#displayQuestion {
margin: 0 auto;
padding: 30px;
/* border: 2px solid rgb(15, 219, 8); */
font-family: 'Special Elite', cursive;
font-size: 23px;
}

.answer {
  text-align: center;
  font-family: 'Special Elite', cursive;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
  width: 20%;
  border: none;
  border-radius: 30px;
  background-color: #fffafa;

}

#answers {
  display: flex;
flex-direction: column;
width: 100%;
/* border: 2px solid blue; */
}

.line {
  margin-left: -3.49rem;
}

.answer:hover {
  background-color: rgb(243, 246, 21);

}

.correct:active {     
  background-color:rgb(134, 241, 134);    
}


.incorrect:active {     
  background-color:rgb(235, 104, 134);    
}

#saveGame {
  display: flex;
  flex-direction: column;
  margin: 20px;
}


.divTableCell {
  /* width: 340px; */
  margin: 0 auto;
  display: table-cell;
  padding: 3px 10px;
  border: 1px solid #999999;
  width: 20%;
  text-align: center;
  line-height: 40px;
  background-color: white;
}

.divTable {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  
}

.divTableBody {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 100vh;
  margin: 3vw;
}

.divTableRow {
  display: flex;
  height: 15%;
}

.play-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky {
  display: flex;
  position: sticky;
  top: 0;
}

#home-play-button {
  width: 25vw;
  height: 17vh;
  border-radius: 3vw;
  font-size: 5rem;
  text-align: center;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.562);
}

.navbar.py-3.navbar-light.bg-light {
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.562);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 18vw;
  height: 9vw;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-bottom: .5vw;
  margin-right: .5vw;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

#cards-container {
  width: 100%;
  height: 100%;
  padding-bottom: 1vw;
  margin-top: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/question_bg.png");
  background-position: center;
  background-size: cover;
  color: white;
}
.flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/answer_bg.jpeg");
  background-position: center;
  background-size: cover;
  color: white;
}

.h5-question, .h5-answer {
  font-size: 1.2vw !important;
  margin: 10px;
}